# Prerequisites
*.d

#xlsx orginales
2019_Accidentalidad.xlsx
2020_Accidentalidad.xlsx
2021_Accidentalidad.xlsx
2022_Accidentalidad.xlsx

#contraseñas
password.txt

#modelos
random_forest_latitud.pk

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
